<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <script src="/Scripts/script.js"></script>
</head>
<body>
    <header>
        <div class="logo">
          <p>BE-FOODS</p>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <div class="footer__contact-informations">

        </div>
    </footer>
</body>
</html>