<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="/assets/js/script.js" type="module" defer></script>
    <link rel="stylesheet" href="/components/modal/modal.css">
</head>

<body>


    <!-- <h2>Modal Example</h2>


<button class="modal-btn">Open Modal</button> -->



    <header class="page-header">
        <div class="logo">
            <img src="/assets/img/BeFoodsLogo.png" alt="">
        </div>
        <div class="login">
            <p>Log ind</p>
        </div>
    </header>

    <main class="payment-main">

        <h1 class="veggie-title">Bestilling</h1>

        <section class="payment-section">
            <form class="payment">
                <label for="Name">Navn</label>
                <input name="Name" type="text">
                <label for="Email">E-mail</label>
                <input name="Email" type="text">  
                <label for="Password">Adgangskode</label>
                <input name="Password" type="text">
                <label for="Adress">Adresse</label>
                <input type="text" name="Adress">  
                <label for="ZipCode">Postnummer</label>
                <input name="ZipCode" type="text">  
                <label for="City">By</label>
                <input name="City" type="text"> 
                
                <a class="pay-now" href="/Views/orderPayed.html">Bestil</a>
            </form>

        </section>
0

    </main>
    <footer class="footer">
        <div class="footer__contact-informations">
            <h3>Kontakt os her:</h3>
            <p>+45 11 22 33 44</p>
            <p>befoods@gmail.com</p>
            <p>Befood gade 7, 6900 Madgade</p>
            <p class="copy__tag">&copy; unknown - 2022</p>
        </div>

    </footer>
</body>

</html>