.among-us-ad {
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    margin-left: 40px;
    object-fit: cover;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    position: absolute;
    background-color: white;
    right: 40px;
       
    transition: all .5s ease-in-out;
}

.amogus-img{

}


.among-us-ad img, video{
    object-fit: fill;
}


main{
    margin-top: 250px;
}
header{
    margin-bottom: 10px;
}

.among-us-ad:hover {
    height: 300px;
    width: 600px;
    transition: all .5s ease-in-out;
        transform-origin: right top;
     
}

@media (max-width:500px){
    .among-us-ad {

            height: 50px;
            width: 320px;
  
  
        }
.among-us-ad:hover {
    height: 480px;
    width: 320px;
    transition: all .5s ease-in-out;
    transform-origin: right top;

}
}