/*-----resets------*/

/*   font-family: 'Poppins',
  sans-serif; */
  /* font-family: 'Ubuntu',
sans-serif; */

/* Color palette--------- */
/* Primary-color: #fff (white) */
/* Secondary-color: #4E546B (Blue-grey) */
/* Third-color: #6fcf97 (Light Green) */
/* Background-color: #F2F2F2 (white-grey */


/*----------------*/
@import url(./variables.css);

a{
    font-family: 'Poppins',
        sans-serif;
        list-style: none;
        text-decoration: none;
        color: black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-white);
}

.main-max-width{
    margin-left: 10px;
    margin-right: 10px;
}

::selection {
    background: var(--color-black);
    color: var(--color-white);
}

img{
    max-width: 100%;
}

.logo{
    width: 30px;
}

/* -------- */
h1{
    font-size: 20px;
}

h1, h2, h3, h4, h5{
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

.price{
    color: var(--color-light-green);
}
header{
    background-color: var(--color-white);
}

header p{
    font-size: 12px;
}

.logo{
    color: var(--color-dark-green);
    font-weight: bold;
}
.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0px 0px 5px 0px grey;
}

.veggie-title{
    font-size: 18px;
    color: rgb(50, 53, 77);
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10px;
}

.veggie-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}

.veggie-boxes__place-holder{
    background-color: white;
    border: 1px solid rgb(187, 186, 186);
    padding: 6%;
}
.veggie-boxes__content{
text-align: center;
align-items: center;
justify-content: center;
display: grid;
}
.veggie-boxes__content button{
    border: none;
    color: white;
    background-color: #4E546B;
    display: block;
    text-align: center;
    padding: 5%;
    border-radius: 3px;
}


/* CSS tests */


/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img{
    height: 170px;
    object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    background-color: #4e546b85;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.footer__contact-informations{
    margin-left: 10px;
    padding-top: 10px;
}

.footer{
    background-color: #36383f;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
    line-height: 2.0;

}
.payment-main{
    min-height: 80vh;
}

.let-go{
    margin-bottom: 20px;
}

.happy-man{
    margin-top: 15px;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.aaa{
    display: flex;
    gap: 20px;
}

.payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

main{
    margin-left: 40px;
    margin-right: 40px;
}

.pay-now{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: #36383f;
    border-radius: 3px;
    padding: 2px 63px;
    
    
}

.veggie-boxes__content img{
    height: 160px;
    object-fit: cover;
}

.payment button{
    margin-top: 10px;
}
.pay-now:hover{
    text-decoration: underline;
}

.payment input{
    max-width: 100%;
    color: black;
    height: 25px;
}
.button-submit{
        border: none;
            color: white;
            background-color: #4E546B;
            display: block;
            text-align: center;
            padding: 1%;
            width: 100px;
            border-radius: 3px;
}
.button{
        border: none;
        cursor: pointer;

}
.log-in{
    text-decoration: none;
    list-style: none;
    color: black;
}

.go-to-payment{
    margin-top: 10px;
                border: none;
                    color: white;
                    background-color: #4E546B;
                    display: block;
                    text-align: center;
                    padding: 4px;
                    width: 100px;
                    display: block;
                    border-radius: 3px;
                    text-align: left;
                 
}

@media (min-width: 1100px) {
    .mySlides img {
        height: 575px;
    }
    .main-max-width {
        margin-left: 50px;
        margin-right: 50px;
    }
    .veggie-title {
        font-size: 28px;
    }
}
